/* .main-container{
    width: 1300px;
    margin: auto;
} */
body{
    margin: 0;
    overflow-x: hidden;
}
/* navbar */
.navbar-main{
    width: 1300px;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-mob{
    display: none;
}
.nav-1{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 25px;
}
.nav-link{
    margin: 0 25px;
    color: grey;
    text-decoration: none;
}
.nav-link:active{
    font-weight: bold;
}
.firstSelected{
    font-weight: bold;
}
.nav-1 img{
    width: 50px;
}
.nav-2{
    display: flex;
    align-items: center;
}
.search-bar{
    border-radius: 1.25rem;
    box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
    border: none;
    width: fit-content;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}
.search-txt{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  width: 200px;
}
.search-txt:focus{
    outline: none;
}
.search{
    margin-right: 15px;
}
.profile{
    margin-left: 45px;
}

/* Green Strip */
.green_strip{
    background-color: #1e3932;
    width: 100%;
    margin: 20px 0;
    
}
.gs-width{
    width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.green_strip p{
    color: white;
    font-size: 22px;
    padding: 10px 0;
}
.km-btn{
    background-color: transparent;
    color: white;
    border-color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

/* Content */

/* Curation */
.hs-curat{
    width: 1300px;
    margin: auto;
}
.hs-heading{
    font-size: 26px;
    font-weight: bold;
    color: #1e3932;
}
.hs-items{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item img{
    border-radius: 50%;
    width: 100px;
}
.item p{
    /* text-align: center; */
    font-weight: bold;
    font-size: 18px;
}

/* Barista */
.bs-recom{
    background-color: #edebe9;
    padding-bottom: 40px;
    margin-top: 30px;
    margin-bottom: 80px;
}
.bs-recom-width{
    width: 1300px;
    margin: auto;
}
.bs-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bs-heading{
    font-size: 26px;
    font-weight: bold;
    color: #1e3932;
}
.vm-txt{
    font-size: 16px;
    font-weight: bold;
    color: #00754a;
}
.bs-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bs-card{
    background-color: white;
    border-radius: 10px;
    padding: 20px 25px 0 20px;
    width: 350px;
}
.bs-card-head{
    display: flex;
}
.bs-card-head img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}
.card-txt{
    margin-left: 15px;
}
.card-txt img{
    height: 16px;
    width: 16px;
}
.card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    font-size: 16px;
    font-weight: bold;
}
.item-btn{
    background-color: #00754a;
    color: white;
    width: 100px;
    border: none;
    height: 30px;
    border-radius: 20px;
    border-color: white;
    font-weight: bold;
}

/* green card */
.gc-main{
    width: 1300px;
    margin: auto;
    margin-bottom: 50px;
}
.green-card{
    background-color: rgb(37 156 94);
    border-radius: 10px;
    display: flex;
}
.gc-img{
    width: 120px;
    margin-right: 50px;
}
.gc-content{
    color: white;
    width: 1300px;
}
.gc-p{
    font-size: 24px;
}
.gc-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-btn{
    width: 200px;
    height: 35px;
    background-color: white;
    color: black;
    border-radius: 20px;
    border: none;
    margin-right: 100px;
}

/* Footer */
.footer-main{
    background-color: #1e3932;
}
.footer-width{
    width: 1300px;
    margin: auto;
}
.f-img-mob{
    display: none;
}
.footer-content{
    /* width: 1300px; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}
.f-head{
    font-weight: bold;
    color: white;
}
.f-txt{
    color: white;
}
.play-img{
    display: flex;
    flex-direction: column;
}
.f-lower{
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.footer-line{
    width: 1300px;
    margin: 0;
}

@media screen and (max-width: 1350px){
    .navbar-main{
        width: 900px;
    }
    .gs-width{
        width: 900px;
    }
    .hs-curat{
        width: 900px;
    }
    .bs-recom-width{
        width: 900px;
    }
    .bs-card{
        width: 230px;
    }
    .gc-main{
        width: 900px;
    }
    .footer-width{
        width: 900px;
    }
    .footer-line{
        width: 900px;
    }
}

@media screen and (max-width: 950px) {
    .nav-2{
        display: none;
    }
    .navbar-main{
        width: 500px;
    }
    .green_strip p{
        font-size: 16px;
    }
    .gs-width{
        width: 500px;
    }
    .km-btn{
        font-size: 12px;
        padding: 5px 10px;
    }
    .hs-curat{
        width: 500px;
    }
    .hs-heading{
    font-size: 17px;
    }
    .hs-items{
        flex-wrap: wrap;
        width: 399px;
        margin: auto;
    }
    .bs-recom-width{
        width: 500px;
    }
    .bs-heading{
        font-size: 17px;
    }
    .vm-txt{
        font-size: 14px;
    }
    .bs-cards{
        display: block;
    }
    .bs-card{
        width: 350px;
        margin: 30px auto;
    }
    .gc-main{
        width: 500px;
    }
    .gc-content{
        width: 310px;
    }
    .gc-content p{
        font-size: 15px;
    }
    .gc-p{
        font-size: 18px;
    }
    .order-btn{
        width: 120px;
        height: 30px;
        font-size: 15px;
    }
    .footer-width{
        width: 500px;
    }
    .footer-line{
        width: 500px;
    }
    .f-img{
        display: none;
    }
    .f-img-mob{
        display: block;
        padding: 40px 0 0 0;
        width: 20%;
        margin: auto;
    }
    .footer-content{
        /* flex-direction: column; */
        /* align-items: center; */
        flex-wrap: wrap;
        width: 350px;
        padding: 30px 0;
    }
    .f-lower{
        flex-direction: column;
    }
}

@media screen and (max-width: 520px) {
    .navbar-main{
        flex-direction: column;
        width: 320px;
        justify-content: center;
    }
    .nav-link{
        margin: 0 5px;
    }
    .logo{
        display: none;
    }
    .logo-mob{
        display: block;
        padding-bottom: 20px;
    }
    .gs-width{
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        width: 320px;
    }
    .hs-curat{
        width: 320px;
    }
    .hs-items{
        width: 260px;
    }
    .bs-recom-width{
        width: 320px;
    }
    .bs-card{
        width: 260px;
    }
    .gc-main{
        width: 320px;
    }
    .gc-img{
        width: 80px;
        margin-right: 20px;
    }
    .gc-content{
        width: 200px;
    }
    .gc-content p{
        font-size: 12px;
    }
    .gc-p{
        font-size: 15px;
    }
    .order-btn{
        width: 80px;
        height: 20px;
        font-size: 12px;
        margin-right: 0;
    }
    .footer-width{
        width: 320px;
    }
    .footer-line{
        width: 320px;
    }
    .f-head{
        font-size: 16px;
    }
    .f-txt{
        font-size: 14px;
    }
    .footer-content{
        width: 300px;
    }
}